<h1>Veterinary Practice Website</h1>
<p>Welcome to the RP Veterinary Practice Website for doctors, staff, pet owners, and of course pets!</p>
<ul><p>Please click the link that best describes you below to get started.</p>
<li><%= link_to 'Doctors', doctors_path%></li>
<li><%= link_to 'Staff', appointments_path %></li>
<li><%= link_to 'Pet Owner', customers_path %></li>
</ul>
